[project]
name = "tts"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "ebooklib>=0.20",
    "qwen-tts>=0.1.1",
    "soundfile>=0.13.1",
    "flash-attn>=2.8.3",
]
